$primary-color: #0a655e;
$primary2-color: #025c55;
$white-color: #ffffff;
$light-gray-color: #f1f5f5;
$light-gray2-color: #2e383826;
$light-gray3-color: #80888833;
$light-gray4-color: #6e8484;
$gold-color: #d1b352;
$dark-color: #2e3838;
$dark2-color: #3e3e3e;
$font-family: 'Roboto', sans-serif;
